/* 
   LOGIN PAGE STYLES
   */

body {
  background: linear-gradient(to right, #0a7a4a, #0f9d58);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: white;
  padding: 32px;
  width: 100%;
  max-width: 360px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.logo {
  width: 70px;
  margin-bottom: 12px;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 6px;
  border: 1px solid #13b20e;
}

.login-container button {
  width: 100%;
  margin-top: 18px;
  padding: 12px;
  background: var(--kgl-dark-green);
  color: rgb(5, 139, 45);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* 
   TOAST NOTIFICATIONS
    */

#toastContainer {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.toast {
  padding: 12px 18px;
  border-radius: 6px;
  margin-bottom: 10px;
  color: white;
  animation: slideIn 0.4s ease;
}

.toast.success {
  background: #16a34a;
}

.toast.error {
  background: #dc2626;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
