.main-content {
  margin-left: 240px;
  padding: 25px;
}

/* SUMMARY */
.financial-summary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 25px;
}

.card {
  background: rgb(3, 110, 48);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(249, 249, 249, 0.1);
}

.card h4 {
  margin-bottom: 10px;
  font-size: 14px;
}

.card p {
  font-size: 20px;
  font-weight: bold;
}

/* FILTERS */
.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters input,
.filters select,
.filters button {
  padding: 8px;
}

/* TABLE */
.transactions-table table {
  width: 100%;
  border-collapse: collapse;
  background: rgb(3, 92, 41);
}

.transactions-table th,
.transactions-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.transactions-table th {
  background: var(--primary-color);
  color: white;
}

/* Responsive */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 15px;
  }
  .filters {
    flex-direction: column;
  }
}
