:root {
  --primary: #0f766e;
  --secondary: #14b8a6;
  --accent: #f59e0b;
  --bg-light: #f3f4f6;
  --text-dark: #1f2937;
  --danger: #dc2626;
  --white: #ffffff;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--bg-light);
  color: var(--text-dark);
}

button {
  background: var(--primary);
  color: var(--white);
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: var(--secondary);
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.sidebar {
    background: var(--primary);
    color: white;
}

.sidebar a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
}

.sidebar a:hover {
    background: var(--secondary);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: var(--primary);
    color: white;
}

td, th {
    padding: 12px;
}
