.main-content {
    margin-left: 240px;
    padding: 25px;
}

.receipt-list table {
    width: 100%;
    border-collapse: collapse;
    background: rgb(5, 113, 44);
}

.receipt-list th,
.receipt-list td {
    padding: 12px;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.receipt-list th {
    background: var(--primary-color);
    color: rgb(255, 255, 255);
}

button {
    padding: 6px 12px;
    cursor: pointer;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: rgb(255, 255, 255);
    padding: 25px;
    width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 8px;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.items-table {
    width: 100%;
    border-collapse: collapse;
}

.items-table th,
.items-table td {
    border-bottom: 1px solid #ddd;
    padding: 6px;
    text-align: center;
}

.thanks {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}

/* Print Styling */
@media print {
    body * {
        visibility: hidden;
    }
    #receiptPrintArea, #receiptPrintArea * {
        visibility: visible;
    }
    #receiptPrintArea {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}

/* Responsive */
@media(max-width:768px){
    .main-content{
        margin-left: 0;
        padding: 15px;
    }
    .modal-content{
        width: 95%;
    }
}
