.main-content {
    margin-left: 240px;
    padding: 20px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.product-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
}

.product-card {
    background: rgb(6, 113, 49);
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card h3 {
    margin-bottom: 5px;
}

.product-card p {
    margin: 5px 0;
}

.product-card input {
    width: 100%;
    padding: 6px;
    margin: 8px 0;
}

.product-card button {
    padding: 8px;
    background: var(--primary-color);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
}

.out-of-stock {
    color: red;
    font-weight: bold;
}

@media(max-width:768px){
    .main-content{
        margin-left: 0;
    }
}
