body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #0b6623, #064420);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-wrapper {
  width: 100%;
  max-width: 420px;
  padding: 20px;
}

.auth-box {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.logo {
  width: 70px;
  margin-bottom: 15px;
}

h2 {
  color: #0b6623;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

input:focus {
  border-color: #0b6623;
  outline: none;
}

#strength {
  font-size: 12px;
  text-align: left;
  margin-bottom: 10px;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  background: #ff9800;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background: #e68900;
}

#toastContainer {
  position: fixed;
  top: 20px;
  right: 20px;
}

.toast {
  background: #333;
  color: #fff;
  padding: 10px 15px;
  border-radius: 6px;
  margin-bottom: 10px;
}
.toast-success {
  background: #4caf50;
}
.toast-error {
  background: #f44336;
}
.toast-info {
  background: #2196f3;
}
.toast-warning {
  background: #ff9800;
}
.toast {
  animation:
    slideIn 0.4s ease,
    fadeOut 0.4s ease 5s;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
