/* 
   GLOBAL
 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

/* 
   NAV
 */
.top-nav {
  background: #0b6623;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 300px;
}

.app-logo {
  width: 100%;
  height: auto;
  max-width: none;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
}
.btn-back {
  background: #ff9800;
  border: none;
  padding: 8px 14px;
  color: white;
  border-radius: 5px;
}

/* 
   CONTAINER
 */
.container {
  padding: 20px;
}

/* 
   INTRO
 */
.intro {
  background: white;
  padding: 15px;
  border-left: 5px solid #263238;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* 
   ALERTS
 */
.notifications {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.alert {
  background: white;
  display: flex;
  gap: 15px;
  padding: 15px;
  border-radius: 8px;
  align-items: center;
}

.alert.unread {
  border-left: 6px solid;
}

/* 
   ALERT TYPES
*/
.alert.critical {
  border-color: #d32f2f;
}

.alert.warning {
  border-color: #f57c00;
}

.alert.info {
  border-color: #1976d2;
}

/* 
   ALERT ICON
 */
.alert-icon {
  font-size: 28px;
}

/* 
   CONTENT
 */
.alert-content h4 {
  margin: 0 0 5px;
}

.alert-content p {
  margin: 0 0 5px;
  font-size: 14px;
}

.alert-content small {
  color: #777;
}

/* 
   ACTIONS
 */
.alert-actions {
  margin-left: auto;
  display: flex;
  gap: 8px;
}

.btn-action {
  background: #263238;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
}

.btn-dismiss {
  background: #ccc;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
}

/* 
   FOOTER
 */
.footer {
  background: #0b6623;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

/* 
   RESPONSIVE
 */
@media (max-width: 768px) {
  .alert {
    flex-direction: column;
    align-items: flex-start;
  }

  .alert-actions {
    margin-left: 0;
  }
}
